@import "abstracts/reset";

@import "library/library";

@import "abstracts/placeholder";

@import "library/fonts";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
@import "pages/lapalettedugout";

@import "abstracts/animations";

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
}