
//___RESPONSIVE HOME____//

@media screen and (min-width: 768px) {

//Location___________________________________
.informations__location form input {
    width: 160px;
}

//Fonctionnement______________________________
.functioning {
    padding: 52px 30px 68px 30px;
}
.functioning__container {
    display: flex;
    justify-content: space-between;
}

.functioning__stage {
    width: 32%;
}

//CARD RESTAURANT______________________________
#restaurants     {
    padding: 60px 30px;
}

.restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant {
    width: 49%;
    margin-top: 27px;
}

}