
//___PAGE MENU____//

.menu {
    background-color: $background_color;
    padding-bottom: 58px;
}

//Top
.menu__top {
    position: relative;
    img {
        height: 257px;
        margin-bottom: 25px;
    }
    .menu__title {
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: $background_color;
        border-radius: 39px 39px 0 0;
        padding-left: 19px;
        padding-right: 25px;
        position: absolute;
        top: 220px;
    }
}

//Type of dishes
.menu__type {
    padding: 0 14px 0 14px;
    position: relative;
    h5 {
        padding-top: 38px;
        margin-left: 7px;
    }
}

//separation
.menu__border {
    width: 40px;
    height: 3px;
    background-color: $tertiary_color;
    margin-left: 7px;
    margin-top: 9px;
}

//Card menu
.menu__card {
    height:  68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: gray 0 5px 12px;
    position: relative;
    overflow: hidden;
    margin-top: 14px;
    //Text
    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 16px;
        padding-left: 12px;
        transition: all 300ms ease-out;
        p, h6{
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            margin-top: 12px;
        }
    }
    //Price
    &__price {
        height: 45px;
        display: flex;
        align-items: flex-end;
        padding-right: 22px;
        transition: transform 300ms ease-out;
    }
    //Check
    &__check {
        width: 59px;
        height: 68px;
        @extend %flex_center;
        background-color: $tertiary_color;
        border-radius: 0 15px 15px 0;
        right: 0;
        position: absolute;
        transform: translateX(100px);
        transition: transform 300ms ease-out;
    }
}

//Button
.order {
    @extend %flex_center;
    margin-top: 46px;
}