
//___TABLET PAGE MENU____//

@media screen and (min-width: 768px){


.menu__container {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

//Type of dishes
.menu__type {
    width: 31.5%;
    padding: 0;
    h5 {
        padding-top: 58px;
    }
}

//Separation
.menu__border {
    width: 50px;
    height: 4px;
}

//Card menu 
.menu__card {
    height: 78px;
    margin-top: 24px;
    //Check
    .menu__card__check {
        width: 65px;
        height: 78px;
    }
}

.order {
    margin-top: 60px;
}

}

@media screen and (min-width: 992px) {

.menu__top .menu__title {
    padding-left: 30px;
    padding-right: 36px;
}

.menu__container {
    padding: 0 25px;
}    

}