
//___FOOTER____//

footer {
    width: 100%;
    background-color: #353535;
    position: relative;
    padding: 27px 25px 38px 25px;
    p {
        margin-bottom: 24px;
    }
    li {
        margin-bottom: 14px;
        i {
            width: 12px; 
            height: auto; 
            color: white;
            margin-right: 12px;
        }
    }
  
}

//RESPONSIVE
@media screen and (min-width: 768px) {

footer, footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media screen and (min-width: 992px) {


footer p {
    margin-bottom: 50px;
}    
    
footer ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
    
    }