
//___HEADER____//

header{
    width: 100%;
    height: 63px;
    @extend %flex_center;
    position: relative;
    .arrow {
        position: absolute;        
        left: 23px;
    }
    img {
        width: 164px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {

    header {
        height: 73px;
        .arrow {
            font-size: 20px;
        }
        img {
            width: 184px;
        }
    }

}
