
//___HEART____//

.fa-stack .fa-solid {
    color: white;
    opacity: 0.5;
    transition: 0.5s;
}

.fa-stack:hover, .fa-stack:active {
    >.fa-solid {
        background: $gradiant_heart;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
    }
    >.fa-regular {
        display: none;
    }
}
