
//___FONTS____//

//Variables___________________________________
:root {
    --h1_h2: 24px;
    --h3: 28px;
    --h4_h6_p2: 18px;
    --h5_p1: 16px;
    --p3: 14px;
    --p4: 17px;
    --p5: 15px;

}


//FONTS CONTENTS

//General____________________________________
* {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1, h2 {
    font-size: var(--h1_h2);
    font-weight: bold;
}

h3 {
    font-family: 'Shrikhand', cursive;
    font-size: var(--h3); 
}

h4, h6 {
    font-size: var(--h4_h6_p2);
}


h5 {
    font-size: var(--h5_p1);
    font-weight: 400;
}

//Button, Fonctionnement___________________
button, .functioning p {
    font-size: var(--h4_h6_p2);
    font-weight: 600;
}

button {
    color: white;
    cursor: pointer;
}


//Localisation___________________________
.informations__location ::placeholder{
    font-size: var(--h5_p1);
    color: black; 
}

.localisation:focus {
    background-color: lighten($background_color_dark, 20%);
    border-radius: 8px;
}

input:focus::placeholder {
    color: lighten(black, 50%);
}

//Fonctionnement____________________________
.functioning__stage .number {
    font-size: var(--p3);
    font-weight: 300;
}

//HOME Restaurants___________________________
.restaurant__new {
    font-size: var(--p3);
    font-weight: bold;
}

.restaurant i {
    font-size: 25px;
}

//MENU PAGE Heart_________________________
.menu__title i {
    font-size: 25px;
}

//MENU PAGE Card____________________________
.menu__card__text p, .menu__card__price {
    font-size: var(--p5);
}

.menu__card__price {
    font-weight: bold;
}

//MENU PAGE Card Check
.menu__card__check i {
    color: white;
    font-size: 20px;
}


//FOOTER
footer p, footer li a {
    color: white;
}

footer p {
    font-family: 'Shrikhand', cursive;
    font-size: var(--h4_h6_p2);
}

footer li {
    font-size: var(--h5_p1);
    font-weight: 300;
}

.footer__bold {
    font-weight: 500;
}


