//FONTS_______________________________________________

//Variables
$font_size: (
    h1_h2:24px, 
    h3:28px, 
    h4_h6_p2:18px, 
    h5_p1:16px, 
    p3:14px, 
    p4:17px, 
    p5:15px
);

//Fonts_content
* {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1, h2 {
    font-size: map-get($font_size, h1_h2);
    font-weight: bold;
}

h3 {
    font-family: 'Shrikhand', cursive;
    font-size: map-get($font_size, h3); 
}

h4, h6 {
    font-size: map-get($font_size, h4_h6_p2);
}


h5 {
    font-size: map-get($font_size, h5_p1);
    font-weight: 400;
}


.informations__location p, button, .functioning p {
    font-size: map-get($font_size, h6_p1);
    font-weight: 600;
}

.functioning__stage .number {
    font-size: map-get($font_size, p3);
    font-weight: 300;
}

.restaurant__new {
    font-size: map-get($font-size, p3);
    font-weight: bold;
}

button {
    color: white;
    cursor: pointer;
}

.restaurant i {
    font-size: 25px;
}

//MENU PAGE Heart
.menu i {
    font-size: 23px;
}

.menu__card__text p, .menu__card__price {
    font-size: map-get($font_size, p5);
}

.menu__card__price {
    font-weight: bold;
}

.menu__card__check i {
    color: white;
}




//FOOTER
footer p, footer li {
    color: white;
}

footer p {
    font-family: 'Shrikhand', cursive;
    font-size: map-get($font_size, h4_h5_p2);
}

footer li {
    font-size: map-get($font-size, h6_p1);
    font-weight: 300;
}

.footer__bold {
    font-weight: 500;
}


