
//___ANIMATIONS____//

@keyframes new {
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

.restaurant:hover, button:hover, .functioning__stage:hover {
    transform: scale(1.02);
    transition: ease-in-out;
}

@keyframes check {
    0% {
        transform: translate(-0px);
        position: relative;
    }

    100% {
        transform: translate(-60px);
        position: relative;
    }
}

article .menu__card__content:hover {
    > .card_check {
    animation: (check 0.5s ease-in-out);
    }
}

