
//___ANIMATIONS____//

@keyframes new {
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

.restaurant:hover, button:hover, .functioning__stage:hover {
    transform: scale(1.02);
    transition: ease-in-out;
}

.menu__card:hover { 
    > .menu__card__check {
        transform: translateX(0);
    }
    >.menu__card__price {
        transform: translateX(-59px);
    }
    >.menu__card__text {
        padding-right: 90px;
    }
}




