
//___ANIMATIONS____//

//SCALE HOVER_______________________________________________________
.restaurant:hover, button:hover, .functioning__stage:hover {
    transform: scale(1.02);
    transition: ease-in-out;
}

//HOME New restaurant__________________________________________
@keyframes new {
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

//CARD MENU____________________________________________________
.menu__card:hover { 
    > .menu__card__check {
        transform: translateX(0);
        > .fa-circle-check {
            animation: rotate_check 300ms ease-in;
        }
    }
    >.menu__card__price {
        transform: translateX(-59px);
    }
    >.menu__card__text {
        padding-right: 90px;
    }
}

//CARD MENU Rotate check
@keyframes rotate_check {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//CARD MENU Appear
@keyframes apparition {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.menu__type, .menu__card, .order {
    animation: apparition 1000ms forwards ease-in;
    opacity: 0;
}

.order {
    animation-delay: 5s;
}





