
//___PLACEHOLDER____//

%flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    width: 63%;
    height: 50px;
    background: $gradiant;
    border: none; 
    border-radius: 25px;
    box-shadow: gray 0 5px 12px;
}

%radius_shadow {
    border-radius: 18px;
    box-shadow: gray 0 5px 12px;
}